/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
    width: 80%;
    margin: 40px auto 0;
}

/* Navigation */
nav {
    position: fixed;
    top: 0;
    width: 80%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 0 0 10px 10px;
    margin-bottom: 20px;
}

nav li {
    display: inline;
    padding: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Content */
article {
    margin: 100px 0;
}

section {
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
}

section p {
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 20px;
}

figure {
    margin: 20px 0;
    text-align: center;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 80%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 10px 10px 0 0;
}