* {

    margin: 0;
    padding: 0;
}

Body {
    max-width: 1380px;
    background-color: aliceblue;
    margin: auto;
}

.title {
    text-align: center;
    font-size: 60px;
}


/* Your Opinion Matters Start */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 16px;
background: #FFF;
padding: 32px;

}

th {
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #C6E4D6;
    padding: 24px;
    border: none;
    text-align: left;
}

td {
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.10);
    padding: 12px;
    text-align: center;
}

td select {
    border-radius: 4px;
    border: 1px solid #0E0E0E;
    background: #C6E4D6;
    padding: 10px 14px;
    text-align: center;
}

.td-info {
    text-align: left;
}

/* Your Opinion Matters Start */